.authen-template{
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1596362601603-b74f6ef166e4?q=80&w=1926&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
}

.authen-template__form{
    width: 300px;
    height: 500px;
    background-color: white;
    margin-left: 50px;
    border-radius: 12px;
}
//nguyentac BEm
// ki thuat flex-box
